<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="DivYield" 
             Language="1033" 
             Version="0.1.0" 
             Manufacturer="DivYield" 
             UpgradeCode="82e70c5e-859a-4c91-9e79-8d4a6136be0a">
             
        <Package InstallerVersion="301" 
                 Compressed="yes" 
                 InstallScope="perMachine" 
                 Description="DivYield - Fast, Smooth Portfolio and Dividend Tracker" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of DivYield is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- Directory Structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- Program Files Folder -->
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="DivYield" />
            </Directory>
            <!-- Start Menu Programs Folder -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="DivYield" />
            </Directory>
            <!-- Desktop Folder -->
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <!-- Brand Icon -->
        <Icon Id="AppIcon" SourceFile="assets/icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="AppIcon" />
        <Property Id="ARPHELPLINK" Value="https://github.com/sunilsankar/DivYield" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/sunilsankar/DivYield" />
        <Property Id="ARPNOREPAIR" Value="yes" />

        <!-- Permanent Icon File in Installation Folder -->
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="AppIconComponent" Guid="e83a48e2-9b51-4e78-8319-3c97193b2184">
                <File Id="AppIconFile" Source="assets/icon.ico" Name="icon.ico" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Start Menu Shortcuts (App Launcher + Uninstaller) -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="f319207e-0be5-4cf5-b16f-87030232490b">
                <!-- Application Launcher -->
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="DivYield"
                          Description="DivYield - Fast, smooth portfolio and dividend tracker"
                          Target="[INSTALLFOLDER]DivYield.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Advertise="no"
                          Icon="AppIcon" />

                <!-- Uninstaller Shortcut -->
                <Shortcut Id="UninstallProductShortcut"
                          Name="Uninstall DivYield"
                          Description="Uninstalls DivYield from your computer"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"
                          Advertise="no"
                          Icon="AppIcon" />

                <RemoveFolder Id="CleanUpShortCut" On="uninstall" />
                <RegistryValue Root="HKLM" 
                               Key="Software\DivYield" 
                               Name="installed" 
                               Type="integer" 
                               Value="1" 
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Desktop Shortcut -->
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationDesktopShortcut" Guid="7d192134-9271-4d1e-8e42-7c34b1239912">
                <Shortcut Id="DesktopShortcut"
                          Name="DivYield"
                          Description="DivYield - Fast, smooth portfolio and dividend tracker"
                          Target="[INSTALLFOLDER]DivYield.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Advertise="no"
                          Icon="AppIcon" />
                <RegistryValue Root="HKLM" 
                               Key="Software\DivYield" 
                               Name="desktop_shortcut" 
                               Type="integer" 
                               Value="1" 
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Features -->
        <Feature Id="ProductFeature" Title="DivYield" Level="1">
            <ComponentGroupRef Id="DivYieldComponents" />
            <ComponentRef Id="AppIconComponent" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ApplicationDesktopShortcut" />
        </Feature>

        <!-- UI with Selectable Install Directory -->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        <WixVariable Id="WixUILicenseRtf" Value="wix/license.rtf" />
    </Product>
</Wix>
